<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://ru.sandmangroup.sandgame/menu.application.title" opened="true">
        <item icon="vaadin:male" view="sdg_Employee.list" title="msg://ru.sandmangroup.sandgame.view.employee/employeeListView.title"/>
        <item icon="vaadin:office" view="sdg_Department.list"
              title="msg://ru.sandmangroup.sandgame.view.department/departmentListView.title"/>
        <item icon="vaadin:form" view="sdg_EmployeeProfession.list"
              title="msg://ru.sandmangroup.sandgame.view.employeeprofession/employeeProfessionListView.title"/>
        <item icon="vaadin:server" view="sdg_ProfessionLevel.list"
              title="msg://ru.sandmangroup.sandgame.view.professionLevel/professionLevelListView.title"/>
        <item icon="vaadin:keyboard" view="sdg_EmployeeSkill.list"
              title="msg://ru.sandmangroup.sandgame.view.employeeskill/employeeSkillListView.title"/>
        <item view="sdg_EmployeeCard" title="msg://ru.sandmangroup.sandgame.view.employeecard/employeeCard.title"/>
    </menu>
    <menu id="administrators" title="msg://ru.sandmangroup.sandgame/administrators">
        <item view="sdg_User.list" title="msg://ru.sandmangroup.sandgame.view.user/UserListView.title"/>
    </menu>
</menu-config>